<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <% var page='about'; %>
  <% include ./parts/head.ejs %>

  <style>
    .card {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .card a {
      color: var(--color-dark);
    }
    .card div {
      margin: 1em;
      text-align: left;
    }
    .card div p:before {
      content: "";
      display: inline-block;
      width: 1.5em;
    }

    .card div p:nth-child(1) {
      text-align: left;
    }
    .card div p:nth-child(2) {
      width: 75%;
      height: 1em;
      border-bottom: 1px solid var(--color-light);
    }
  </style>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <main>
    <div class="container">
      <div class="card">
        <div>
          <p>Εφαρμογή διαχείρισης ενός απλού ταμείου, όπου μπορούν να καταχωρίζονται κινήσεις εσόδων ή εξόδων και να ομαδοποιούνται σε επιμέρους κατηγορίες αλλά και λογαριασμούς. Μέσω της δημιουργίας μιας δυναμικής ιστοσελίδας παρουσιάζεται η συνολική εικόνα του ταμείου για κάθε δοσμένο χρονικό διάστημα.</p>
          <p></p>
        </div>
        <div>
          <p>Κίνητρο για την ανάπτυξή της ήταν η διερεύνηση, η μελέτη και ο συνδυασμός τεχνολογιών για την υλοποίηση διαδικτυακών εφαρμογών και δυναμικών ιστοσελίδων. Ως προς το front-end, η δομή και η εμφάνιση της εφαρμογής υλοποιήθηκε σε HTML/CSS και η λειτουργικότητά της σε JS (με προτίμηση στις δυνατότητες και τις μορφές σύνταξης των πιο πρόσφατων εκδόσεών της). Στο back-end χρησιμοποιήθηκε επίσης κώδικας JS και το περιβάλλον ανάπτυξης server εφαρμογών Node.js/EXPRESS, ενώ ως βάση δεδομένων χρησιμοποιήθηκε η postgreSQL.</p>
          <p></p>
        </div>
        <div>
          <p>Η εφαρμογή <a href='https://gc-inout.herokuapp.com/'>παρουσιάζεται σε λειτουργία εγκατεστημένη στο Heroku.com</a> με έναν αριθμό πλασματικών-ενδεικτικών δεδομένων, ενώ <a href='https://github.com/GiannisClipper/inOut'>ο κώδικάς της είναι προσβάσιμος στο GitHub.com</a>. Για παρατηρήσεις και επικοινωνία υπάρχει το e-mail: strunstrun@gmail.com.</p>
          <p></p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ./parts/footer.ejs %>
  </footer>
</body>
</html>