<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <% var page='genres'; %>
  <% include ./parts/head.ejs %>

<!--<style>.record.focused::after {content: "<focused";}</style>-->

  <!--τα paths ορίζονται ως προς το /public-->
  <script type="text/javascript" src="/js/genresform.js"></script>
  <script type="text/javascript" src="/js/lib.js"></script>
  <script type="text/javascript" src="/js/relation.js"></script>
  <script type="text/javascript" src="/js/canvas.js"></script>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <section>
    <div class="container">
      Loading...
    </div>
  </section>

  <footer>
    <% include ./parts/footer.ejs %>
  </footer>
 
  <script type="text/javascript">
    const form=new GenresForm(document.querySelector('SECTION > .container'));
    window.onload=()=> form.init();
  </script>
</body>
</html>