<!DOCTYPE=html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>

<body>
  <header><% include ./parts/header-nonav.ejs %></header>

  <section><% include ./parts/login.ejs %></section>

  <footer><% include ./parts/footer.ejs %></footer>
</body>
</html>