<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/css/infodata.css" rel="stylesheet">
  <link href="/css/arrows.css" rel="stylesheet">

  <% const page='info'; %>
  <% include ./parts/head.ejs %>
  <% include ./parts/more.ejs %>

  <!--τα paths εδώ ορίζονται ως προς το /public-->
  <script type="text/javascript" src="/js/hclass.js"></script>
  <script type="text/javascript" src="/js/hloader.js"></script>
  <script type="text/javascript" src="/js/hdate.js"></script>
  <script type="text/javascript" src="/js/graph.js"></script>

  <%
  const income=funds.map(x=> x.income).reduce((total,x)=> total+x);
  const outgo=funds.map(x=> x.outgo).reduce((total,x)=> total+x);
  const balance=income-outgo;
  const pcent=function(amount, total) {return (amount/total)*100};
  const shaped=function(amount) {return parseFloat(amount).toFixed(2)};
  let articles=[];
  let title='';
  let className='';
  let amount='';
  let percent='';
  let icon=''; 
  let alterIcon=''; 
  %>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <main>
    <div class="container">

  <% className='total';
  till=(!till)?from:till;
  const total=[
    {className:'income', title:'ΕΣΟΔΑ', alterIcon:'+', amount:shaped(income), percent:pcent(income, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.income)}})},
    {className:'outgo', title:'ΕΞΟΔΑ', alterIcon:'-', amount:shaped(outgo), percent:pcent(outgo, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.outgo)}})},
    {className:(income>outgo?'income':income<outgo?'outgo':'balance'), title:'ΥΠΟΛΟΙΠΟ', alterIcon:'=', amount:shaped(income-outgo), percent:pcent(income-outgo, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.income-x.outgo)}})}
  ]; 
  let graph={title:`ΣΥΝΟΛΑ (${from}-${till})`, data:total};
  graph.data.forEach(x=> x.name=x.title);
  title=`<data class='total' value='${JSON.stringify(graph)}'></data>`%>
  <% include ./parts/section-head.ejs %>
  <% for (let i=0; i<total.length; i++) {
    title=total[i].title;
    className=total[i].className;
    amount=total[i].amount;
    percent=total[i].percent;
    alterIcon=total[i].alterIcon; 
    more=total[i].more %>
    <% include ./parts/article.ejs %>    
  <% } 
  title=''; %>
  <% include ./parts/section-foot.ejs %>

  <% className='income';
  graph={title:`ΚΑΤΑΝΟΜΗ ΕΣΟΔΩΝ (${shaped(income)} €)`, data:[]};
  genres.forEach(x=> x.inout===1?graph.data.push({className:className, name:x.name, amount:x.amount, percent:pcent(x.amount, income).toFixed(0)+'%'}):null);
  title=`<data class='income' value='${JSON.stringify(graph)}'></data>`%>
  <% include ./parts/section-head.ejs %>
  <% for (genre of genres) {
    if (genre.inout!==1) continue;
    title=genre.name;
    className='income';
//    amount=shaped(genre.more.map(x=> x.amount).reduce((total,x)=> total+x));
    amount=shaped(genre.amount);
    percent=pcent(amount, income).toFixed(0)+'%';
    icon=genre.icon;
    alterIcon=genre.name.substr(0,1);
    more=genre.more; %>
    <% include ./parts/article.ejs %>    
  <% } 
  title=''; %>
  <% include ./parts/section-foot.ejs %>

  <% className='outgo';
  graph={title:`ΚΑΤΑΝΟΜΗ ΕΞΟΔΩΝ (${shaped(outgo)} €)`, data:[]};
  genres.forEach(x=> x.inout===2?graph.data.push({className:className, name:x.name, amount:x.amount, percent:pcent(x.amount, outgo).toFixed(0)+'%'}):null);
  title=`<data class='outgo' value='${JSON.stringify(graph)}'></data>`%>
  <% include ./parts/section-head.ejs %>
  <% for (genre of genres) {
    if (genre.inout!==2) continue;
    title=genre.name;
    className='outgo';
//    amount=shaped(genre.more.map(x=> x.amount).reduce((total,x)=> total+x));
    amount=shaped(genre.amount);
    percent=pcent(amount, outgo).toFixed(0)+'%';
    icon=genre.icon;
    alterIcon=genre.name.substr(0,1);
    more=genre.more; %>
    <% include ./parts/article.ejs %>    
  <% } 
  title=''; %>
  <% include ./parts/section-foot.ejs %>

  <% className='balance';
  graph={title:`ΚΑΤΑΝΟΜΗ ΥΠΟΛΟΙΠΟΥ (${shaped(balance)} €)`, data:funds};
  for (fund of graph.data) {
    fund.className=(fund.income>fund.outgo)?'income':(fund.income<fund.outgo)?'outgo':'balance';
    fund.percent=pcent(fund.income-fund.outgo, balance).toFixed(0)+'%';
    fund.amount=shaped(fund.income-fund.outgo);
  }
  title=`<data class='balance' value='${JSON.stringify(graph)}'></data>`%>
  <% include ./parts/section-head.ejs %>
  <% for (fund of funds) {
    title=fund.name;
    className=(fund.income>fund.outgo)?'income':(fund.income<fund.outgo)?'outgo':'balance';
    percent=pcent(fund.income-fund.outgo, balance).toFixed(0)+'%';
    amount=shaped(fund.income-fund.outgo);
    icon=fund.icon;
    alterIcon=fund.name.substr(0,1);
    more=[{name:'ΕΣΟΔΑ', amount:shaped(fund.income)},{name:'ΕΞΟΔΑ', amount:shaped(fund.outgo)}]; %>
    <% include ./parts/article.ejs %>    
  <% } 
  graph={title:`ΔΙΑΚΥΜΑΝΣΗ ΥΠΟΛΟΙΠΟΥ (${shaped(income-outgo)} €)`, data:dates, from:from, till:till};
  title=`<data class='balance2' value='${JSON.stringify(graph)}'></data>`%>
  <% include ./parts/section-foot.ejs %>
 
    </div>
  </main>

  <footer class="info">
    <% include ./parts/footer.ejs %>
  </footer>

  <script type="text/javascript">
    function drawGraphs() {
      let graph=new GraphBars();
      let _=JSON.parse(document.querySelector('data.total').value);
      graph.margin.bottom=30;
      graph.title=_.title;
      graph.data=_.data;
      document.querySelector('data.total').innerHTML='<svg></svg>';
      graph.svg=document.querySelector('data.total > svg');
      graph.svg.innerHTML=graph.process();

      graph=new GraphBars();
      _=JSON.parse(document.querySelector('data.income').value);
      graph.margin.bottom=30;
      graph.title=_.title;
      graph.data=_.data;
      document.querySelector('data.income').innerHTML='<svg></svg>';
      graph.svg=document.querySelector('data.income > svg');
      graph.svg.innerHTML=graph.process();

      graph=new GraphBars();
      _=JSON.parse(document.querySelector('data.outgo').value);
      graph.margin.bottom=30;
      graph.title=_.title;
      graph.data=_.data;
      document.querySelector('data.outgo').innerHTML='<svg></svg>';
      graph.svg=document.querySelector('data.outgo > svg');
      graph.svg.innerHTML=graph.process();

      graph=new GraphBars();
      _=JSON.parse(document.querySelector('data.balance').value);
      graph.margin.bottom=30;
      graph.title=_.title;
      graph.data=_.data;
      document.querySelector('data.balance').innerHTML='<svg></svg>';
      graph.svg=document.querySelector('data.balance > svg');
      graph.svg.innerHTML=graph.process();

      graph=new GraphScale();
      _=JSON.parse(document.querySelector('data.balance2').value);
      graph.margin.bottom=30;
      graph.title=_.title;
      graph.data=_.data;
      let from=_.from;
      let till=_.till;
      graph.data.forEach((x,i)=> i>0?graph.data[i].amount+=graph.data[i-1].amount:null);
      if (graph.data[0].date!==HDate.raw(from)) 
        graph.data.unshift({date:HDate.raw(from), amount:0});
      if (graph.data[graph.data.length-1].date!==HDate.raw(till))
        graph.data.push({date:HDate.raw(till), amount:graph.data[graph.data.length-1].amount});
      graph.data.forEach((x,i)=> console.log(x.date+' : '+x.amount));
      document.querySelector('data.balance2').innerHTML='<svg></svg>';
      graph.svg=document.querySelector('data.balance2 > svg');
      graph.svg.innerHTML=graph.process();
    }

    window.onload=()=> drawGraphs();
    window.onresize=()=> drawGraphs();
  </script>
</body>
</html>