<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <% var page='info'; %>
  <% include ./parts/head.ejs %>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <section>
    <div class="container">
    <%= date %>
    </div>
  </section>

  <footer>
    <% include ./parts/footer.ejs %>
  </footer>
</body>
</html>