<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/css/infodata.css" rel="stylesheet">
  <link href="/css/arrows.css" rel="stylesheet">

  <% const page='info'; %>
  <% include ./parts/head.ejs %>
  <% include ./parts/more.ejs %>

  <!--τα paths εδώ ορίζονται ως προς το /public-->
  <script type="text/javascript" src="/js/hclass.js"></script>
  <script type="text/javascript" src="/js/hloader.js"></script>

  <%
  const income=funds.map(x=> x.income).reduce((total,x)=> total+x);
  const outgo=funds.map(x=> x.outgo).reduce((total,x)=> total+x);
  const balance=income-outgo;
  const pcent=function(amount, total) {return (amount/total)*100};
  const shaped=function(amount) {return parseFloat(amount).toFixed(2)};
  let articles=[];
  let title='';
  let className='';
  let amount='';
  let percent='';
  let icon=''; 
  let alterIcon=''; 
  %>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <main>
    <div class="container">

  <% className='total';
//  title=`ΣΥΝΟΛΑ (${from}-${till})`;
  till=(!till)?from:till;
  const total=[
    {className:'income', title:'ΕΣΟΔΑ', alterIcon:'+', amount:shaped(income), percent:pcent(income, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.income)}})},
    {className:'outgo', title:'ΕΞΟΔΑ', alterIcon:'-', amount:shaped(outgo), percent:pcent(outgo, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.outgo)}})},
    {className:(income>outgo?'income':income<outgo?'outgo':'balance'), title:'ΥΠΟΛΟΙΠΟ', alterIcon:'=', amount:shaped(income-outgo), percent:pcent(income-outgo, income).toFixed(0)+'%', more:funds.map(x=> {return {name:x.name, amount:shaped(x.income-x.outgo)}})}
  ]; 

  let graph=new GraphModule.GraphBars('total');
  graph.title=`ΣΥΝΟΛΑ (${from}-${till})`;
  graph.margin.bottom=30;
  graph.data=total;
  graph.data.forEach(x=> x.name=x.title);
  title=graph.process(); %>

  <% include ./parts/section-head.ejs %>
  <% for (let i=0; i<total.length; i++) {
    title=total[i].title;
    className=total[i].className;
    amount=total[i].amount;
    percent=total[i].percent;
    alterIcon=total[i].alterIcon; 
    more=total[i].more %>
    <% include ./parts/article.ejs %>    
  <% } 
  title=''; %>
  <% include ./parts/section-foot.ejs %>

  <% className='income';
//title=`ΚΑΤΑΝΟΜΗ ΕΣΟΔΩΝ (${shaped(income)} €)`;
  graph=new GraphModule.GraphBars('income');
  graph.title=`ΚΑΤΑΝΟΜΗ ΕΣΟΔΩΝ (${shaped(income)} €)`;
  graph.margin.bottom=30;
//  graph.range.tillSum=true;
  graph.data=genres.filter(x=> x.inout===1);
  graph.data.forEach(x=> x.percent=pcent(x.amount, income).toFixed(0)+'%');
  title=graph.process(); %>

  <% include ./parts/section-head.ejs %>
  <% for (genre of genres) {
    if (genre.inout!==1) continue;
    title=genre.name;
    className='income';
//    amount=shaped(genre.more.map(x=> x.amount).reduce((total,x)=> total+x));
    amount=shaped(genre.amount);
    percent=pcent(amount, income).toFixed(0)+'%';
    icon=genre.icon;
    alterIcon=genre.name.substr(0,1);
    more=genre.more; %>
    <% include ./parts/article.ejs %>    
  <% } 
  title=''; %>
  <% include ./parts/section-foot.ejs %>

  <% className='outgo';
//title=`ΚΑΤΑΝΟΜΗ ΕΞΟΔΩΝ (${shaped(outgo)} €)`;
  graph=new GraphModule.GraphBars('outgo');
  graph.title=`ΚΑΤΑΝΟΜΗ ΕΞΟΔΩΝ (${shaped(outgo)} €)`;
  graph.margin.bottom=30;
//  graph.range.tillSum=true;
  graph.data=genres.filter(x=> x.inout===2); 
  graph.data.forEach(x=> x.percent=pcent(x.amount, outgo).toFixed(0)+'%');
  title=graph.process(); %>

  <% include ./parts/section-head.ejs %>
  <% for (genre of genres) {
    if (genre.inout!==2) continue;
    title=genre.name;
    className='outgo';
//    amount=shaped(genre.more.map(x=> x.amount).reduce((total,x)=> total+x));
    amount=shaped(genre.amount);
    percent=pcent(amount, outgo).toFixed(0)+'%';
    icon=genre.icon;
    alterIcon=genre.name.substr(0,1);
    more=genre.more; %>
    <% include ./parts/article.ejs %>    
  <% } 
  title=''; %>
  <% include ./parts/section-foot.ejs %>

  <% className='balance';
//title=`ΚΑΤΑΝΟΜΗ ΥΠΟΛΟΙΠΟΥ (${shaped(balance)} €)`;
  graph=new GraphModule.GraphBars('balance');
  graph.title=`ΚΑΤΑΝΟΜΗ ΥΠΟΛΟΙΠΟΥ (${shaped(balance)} €)`;
  graph.margin.bottom=30;
//  graph.range.tillSum=true;
  graph.data=funds; 
  for (fund of graph.data) {
    fund.className=(fund.income>fund.outgo)?'income':(fund.income<fund.outgo)?'outgo':'balance';
    fund.percent=pcent(fund.income-fund.outgo, balance).toFixed(0)+'%';
    fund.amount=shaped(fund.income-fund.outgo);
  }
  title=graph.process(); %>

  <% include ./parts/section-head.ejs %>
  <% for (fund of funds) {
    title=fund.name;
    className=(fund.income>fund.outgo)?'income':(fund.income<fund.outgo)?'outgo':'balance';
    percent=pcent(fund.income-fund.outgo, balance).toFixed(0)+'%';
    amount=shaped(fund.income-fund.outgo);
    icon=fund.icon;
    alterIcon=fund.name.substr(0,1);
    more=[{name:'ΕΣΟΔΑ', amount:shaped(fund.income)},{name:'ΕΞΟΔΑ', amount:shaped(fund.outgo)}]; %>
    <% include ./parts/article.ejs %>    
  <% } 
  graph=new GraphModule.GraphScale('balance');
  graph.title=`ΔΙΑΚΥΜΑΝΣΗ ΥΠΟΛΟΙΠΟΥ (${shaped(income-outgo)} €)`;
  dates.forEach((x,i)=> i>0?dates[i].amount+=dates[i-1].amount:null);
  if (dates[0].date!==HDate.raw(from)) 
    dates.unshift({date:HDate.raw(from), amount:0});
  if (dates[dates.length-1].date!==HDate.raw(till))
    dates.push({date:HDate.raw(till), amount:dates[dates.length-1].amount});
  dates.forEach((x,i)=> console.log(x.date+' : '+x.amount));
  graph.margin.bottom=30;
  graph.data=dates;
  graph.HDate=HDate;
  title=graph.process(); %>
  <% include ./parts/section-foot.ejs %>
 
    </div>
  </main>

  <footer class="info">
    <% include ./parts/footer.ejs %>
  </footer>
</body>
</html>