<!DOCTYPE=html>
<html>
<head>
  <meta charset="utf-8">
  <% var page='trans'; %>
  <% include ./parts/head.ejs %>
  <link href="/css/form.css" rel="stylesheet">

  <!--τα paths ορίζονται ως προς το /public-->
  <script type="text/javascript" src="/js/form.js"></script>
  <script type="text/javascript" src="/js/client.js" async></script> 
  <script type="text/javascript" src="/js/transform.js"></script>
  <script type="text/javascript" src="/js/lib.js"></script>
  <script type="text/javascript" src="/js/dateinput.js"></script>
  <script type="text/javascript" src="/js/floatinput.js"></script>
  <script type="text/javascript" src="/js/relation.js"></script>
</head>

<body>
  <header>
    <% include ./parts/header.ejs %>
  </header>

  <section>
    <div class="container">
      Loading...
    </div>
  </section>

  <footer>
    <% include ./parts/footer.ejs %>
  </footer>
  
  <script type="text/javascript">
    const form=new TransForm(document.querySelector('SECTION > .container'));
    window.onload=()=> form.init();
  </script>
</body>
</html>