<!DOCTYPE=html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>

<body>
  <header><% include ./parts/header.ejs %></header>

  <section><p>Users form is under construction...</p></section>

  <footer><% include ./parts/footer.ejs %></footer>
</body>
</html>