/* form */

.form .commands {
  margin-bottom: 1rem;
}

.form .controls {
  margin-top: 1.5rem;
  height: 3rem;
}

.form .commands, .form .controls {
  text-align: center;
}

.form .commands input[type='button'], .form .controls input[type='button'] {
  width: 6rem;
  height: 2rem;
  margin: 1px;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
}

.form .controls input.info {
  width: 12rem;
}

.form .commands input.toggle {background-color: var(--color-back); color: var(--color-text-dark);}
.form .commands input.clear {background-color: transparent; border: 1px solid var(--color-front); color: var(--color-text-dark);}
.form .commands input.find {background-color: var(--color-find); color: var(--color-text-dark);}
.form .commands input.new {background-color: var(--color-new); color: var(--color-text-dark);}
.form .commands input.modify {background-color: var(--color-modify); color: var(--color-text-dark);}
.form .commands input.delete {background-color: var(--color-delete); color: var(--color-text-dark);}
.form .commands input.ok {background-color: var(--color-ok); color: var(--color-text-dark);}
.form .commands input.cancel {background-color: var(--color-cancel); color: var(--color-text-dark);}

.form .commands input[type='button'],
.form .controls input[type='button'] {
//  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
//  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.form .commands input[type='button']:active,
.form .controls input[type='button']:active {
//  border-bottom-color: rgba(0, 0, 0, 0);
//  border-right-color: rgba(0, 0, 0, 0);
}

.form .controls input[type='button'] {background-color: var(--color-find); color: var(--color-text-dark);}

.form .controls .order > * {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  color: var(--color-text-dark);
  background-color: var(--color-find);
  border: 1px dashed var(--color-text-dark);
}

.form .controls .order > span:not(.right_arrow) {
  border: 0;
  padding: 0.25rem;
  font-size: 0.9rem; //smaller;
}

.form .controls .order > .right_arrow {
  background-color: transparent;
  border-top: 1.5rem solid transparent;
  border-left: 2rem solid var(--color-find);
  border-bottom: 1.5rem solid transparent;
  border-right: 0;
}

.form .record ._ {background-color: transparent; color: var(--color-text-dark);}
.form .record :not(._tmp)._.onfind {background-color: var(--color-find); var(--color-text-dark);}
.form .record :not(._tmp)._.onnew {background-color: var(--color-new); color: var(--color-text-dark);}
.form .record :not(._tmp)._.onmodify {background-color: var(--color-modify); var(--color-text-dark);}
.form .record :not(._tmp)._.ondelete {background-color: var(--color-delete); var(--color-text-dark);}


/* card */

.form .card {
  text-align: center;
}

.form .card .record .left,
.form .card .record .right {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 1rem;
}

.form .card .record > div {
  line-height: 2.25;
}

.form .card .record div div > input, 
.form .card .record div div > select {
  height: 2rem;
  font-size: 0.9rem;
  border: 1px solid var(--color-front);
}

.form .card .record div div > input:enabled, 
.form .card .record div div > select:enabled {
  border: 1px dashed var(--color-text-dark);
}

.form .card .record .id {width: 4rem;}
.form .card .record .code {width: 4rem;}
.form .card .record .name {width: 16rem;}

.form .card .record .inout {width: 4rem;}
.form .card .record .fund_name {width: 16rem;}

.form .card .record .date {width: 8rem;}
.form .card .record .genre_name {width: 16rem;}
.form .card .record .income {width: 8rem;}
.form .card .record .outgo {width: 8rem;}
.form .card .record .remarks {width: 16rem;}

.form .card .record .password {width: 8rem;}
.form .card .record .level {width: 4rem;}


/* grid */

.form .grid .titles, 
.form .grid .record {
  height: 2rem;
  text-align: center;
}

.form .grid .titles > span {
  display: inline-block;
}

.form .grid .titles > span,
.form .grid .record > input, 
.form .grid .record > select {
  height: 2rem;
  margin: 1px;
  padding: 1px;
  border: 1px solid transparent;
  font-size: 0.9rem;
}

.form .grid .titles > span {
  font-size: 0.9rem; //smaller;
  color: var(--color-text-dark);
  text-align: left;
  border-bottom: 1px solid var(--color-text-dark);
}

.form .grid .record.focused > input,
.form .grid .record.focused > select {
  border-color: var(--color-front);
}

.form .grid .record > input:enabled, 
.form .grid .record > select:enabled {
  border: 1px dashed var(--color-text-dark);
}

.form .grid .id {width: 4rem;}
.form .grid .code {width: 4rem;}
.form .grid .name {width: 16rem;}
.form .grid .icon {width: 4rem;}

.form .grid .inout {width: 4rem;}
.form .grid .fund_name {width: 10rem;}

.form .grid .date {width: 5rem;}
.form .grid .genre_name {width: 10rem;}
.form .grid .income {width: 5rem;}
.form .grid .outgo {width: 5rem;}
.form .grid .remarks {width: 10rem;}

.form .grid .name {width: 16rem;}
.form .grid .password {width: 8rem;}
.form .grid .level {width: 4rem;}


/* canvas */

.form .card .record .canvas {
  display: block; 
  height: 128px
}

.form .card .record .canvas canvas {
  border: 1px solid var(--color-front);
}

.form .card .record .canvas .tools .button, 
.form .card .record .canvas .tools .url {
  display: block; 
  border: 0; 
  width: 8rem;
  font-size: 0.8rem; //smaller;
  font-weight: 0;
}


/* relation */

.form .record .genre_list,
.form .record .fund_list {
  position: absolute;
  height: 8rem;
  margin-top: 0.75rem;
//  background-color: var(--color-find);
  font-size: 0.9rem; //smaller;
//  color: var(--color-text-dark);
  line-height: 1.25;
  text-align: left;
}

.form .record .genre_list > li > input,
.form .record .fund_list > li > input {
  max-width: 14rem;
  background-color: transparent;
  margin: 0.25rem;
  margin-left: -2rem;
  text-align: left;
}


/* arrows */

i {
  position: absolute;
  margin-left: -1rem;

  border: solid var(--color-front);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0.2rem;
//  outline: 1rem solid transparent;
  cursor: pointer;
}

i.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 0.75rem;
}

i.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 0.75rem;
}


/* floatinput */

.form .grid .record .income,
.form .grid .record .outgo {
  text-align: right;
}