<div class="container">
  <nav>
    <span class="left"></span>
    <a class="about <% if (page==='about') { %>selected<% } %>" href="/about">?</a> 
    <span class="copyright">&copy; 2018 Giannis Clipper</span>
    <a class="admin <% if (page==='admin') { %>selected<% } %>" href="/admin">*</a>
    <span class="right"><%= username %></span>
  </nav>
</div>