<div class="container">
  <nav>
    <span class="left"></span>
    <a class="<% if (page==='about') { %>selected<% } %>" href="/about">?</a> 
    <span class="copyright">&copy; 2018 Giannis Clipper</span>
    <a class="<% if (page==='admin') { %>selected<% } %>" href="/admin">*</a> <!--&#10067; &#9881;-->
    <span class="right"><%= username %></span>
  </nav>
</div>