<meta charset="utf-8">
<title>inOut</title>

<!--τα paths ορίζονται ως προς το /public-->
<link href="/css/style.css" rel="stylesheet">
<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/client.js" async></script> 
