<div class="login">
  <p>Name <input class="name" type="text"></p>
  <p>Password <input class="password" type="text"></p>
  <p><a href="#" onclick="postRequestSignin('/users/signin',setParams(),callbackSignin); return false;">Signin</a></p>
  <p class="echo">...</p>
</div>

<script>

  function postRequestSignin(route,params,callback) {
    var xhttp=new XMLHttpRequest();
    xhttp.open("POST", "http://localhost:3000"+route, true);
    xhttp.responseType="";
    xhttp.onreadystatechange=function() {callback(this)};
//    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
//    xhttp.send(params);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(params)); 
  }

  function setParams() {
    return ({name:document.querySelector(".name").value,
            password:document.querySelector(".password").value});
  }

  function callbackSignin(req) {
    if (req.readyState==4 && req.status==200) {
      if (req.response=="") {
        document.querySelector(".echo").innerHTML="No authentication";
      } else {
//        window.location.assign(req.response);
        window.document.open();
        window.document.write(req.response);
        window.document.close();
      }
    } 
  }

</script>