<section class="<%= className %>">
  <div class="top">
    <%= title %>
  </div>

  <div class="middle">
<!--    <%= articles.join(''); %>-->
  </div>

  <div class="bottom">
  </div>
</section>